:root{
  --dark-grey: #0e0e0e;
  --dark-grey-rgba: rgba(19,20,20, 0.9);
  --dark-grey-2: #0d0e0e;
  --grey: #696964;
  --black: #000000;
  --white: #ffffff;
  --red: #c0302a;
  --beige: #f9f1e7;
  --gold: #9C8B70;
  --panel: #ffffff;
  --font-main: 'circular_stdbook';
  --font-main-bold: 'circular_stdbold';
  --font-main-medium: 'circular_stdmedium';
  --font-main-light: 'circular_airlight';
  --font-serif: 'rhymesdisplayregular';
  --font-serif-italic: 'rhymesdisplayitalic';
}

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************
- General
/**************************************/

*{
  box-sizing: border-box;
  cursor: none;
}

body, html{
  font: 14px var(--font-main);
  background-color: var(--dark-grey);
  color: var(--grey);
}

.has-scroll-smooth {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a{
  color: var(--grey);
  text-decoration: none;
}

.scrollContainer{
  position: fixed;
}

.container{
  width: 1300px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.panel{
  position: absolute;
  z-index: 7000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: bottom;
  background-color: var(--black);
}

.cursor-dot, .cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: var(--red);
}
.cursor-dot-outline {
  width: 40px;
  height: 40px;
  border: var(--red) solid 1px;
  border-radius: 20px;
}

.for-mobile {
  display: none !important;
}

/***************************************
- Scrollbar
/**************************************/

.scrollbar{
  width: 2px;
  height: 100px;
  background-color: var(--grey);
  position: fixed;
  z-index: 2000;
  top: calc(50% - 50px);
  left: 20px;
  overflow: hidden;
  /* will-change: transform; */
}

.scrollbar .bar{
  width: 2px;
  height: 0px;
  background-color: var(--white);
}

/***************************************
- General
/**************************************/

.content-wrap{
  position: relative;
  z-index: 1000;
}

/* SCROLL DOWN */ 
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible !important;
}

.gradient-map{
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 4000;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  background: rgb(19,20,20);
  background: linear-gradient(0deg, rgba(19,20,20,0) 0%, rgba(19,20,20,1) 100%);
}

/***************************************
- MENU
/**************************************/

#menu{
  position: absolute;
  z-index: 6000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: bottom;
  background-color: var(--black);
  overflow: hidden;
  transition: all 0.4s ease;
}

.opacity{
  height: 100%; 
}

#menu nav{
  position: absolute;
  left: 0vw;
  top: 50%;
  transform: translateY(-50%);
}

#menu nav li{
  position: relative;
  opacity: 0;
  left: 25vw;
  transition: all 0.4s ease;
}

#menu .animate{
  left: 20vw;
  opacity: 1;
}

#menu nav:hover .link-blur-1:not(:hover) {
  opacity: 0.8;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#menu nav a:hover{
  color: var(--white);
}

#menu nav li a{
  font: 64px var(--font-serif);
  margin: 0px 0px 0px 30px;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.3s ease;
}

#menu nav li a::after{
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background-color: var(--white);
  left: -70px;
  top: 44px;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#menu nav li  a:hover::after{
  opacity: 1;
  top: 44px;
  left: -50px
}

#menu nav li span{
  position: relative;
  font: 20px var(--font-serif-italic);
  top: -10px;
  left: 50px;
  color: var(--grey);
  opacity: 0;
  transition: all 0.4s ease;
}

#menu nav li:hover span{
  left: 20px;
  opacity: 1;
}

/* STACK */

#icon-menu{
  position: absolute;
  z-index: 8000;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
}

#icon-menu .stack{
  width: 22px;
  height: 2px;
  background-color: var(--white);
  position: relative;
  transition: all 0.4s ease;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

#icon-menu .stack:nth-child(1){
  top: 0px;
}

#icon-menu .stack:nth-child(2){
  top: 5px;
}

#icon-menu .stack:nth-child(3){
  top: 10px;
}

#icon-menu:hover .stack:nth-child(2){
  width: 32px;
}

#icon-menu.cross .stack:nth-child(1){
  transform: rotate(45deg);
  top: 6px;
  left: 4px;
}

#icon-menu.cross .stack:nth-child(2){
  width: 0px;
}

#icon-menu.cross .stack:nth-child(3){
  transform: rotate(-45deg);
  top: 2px;
  left: 4px;
}

/***************************************
- NAVS
/**************************************/

#nav-principal{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 6000;
  will-change: transform;
  mix-blend-mode: difference;
}

#nav-principal .logo{
  padding: 15px 0px 0px 0px;
  width: 40%;
  position: absolute;
}

#nav-principal .logo a{
  color: var(--white);
  font: 30px var(--font-serif);
  letter-spacing: 2px;
  text-transform: capitalize !important;
}

#nav-principal .menu{
  width: 60%;
}

#nav-principal .container{
  display: flex;
}

#nav-principal .container a{
  position: relative;
  text-transform: uppercase;
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -o-transition:all .2s linear;
  -ms-transition:all .2s linear;
  transition:all .2s linear;
}
  
#nav-principal .container a:hover{
  color: var(--white);
}


#nav-principal .nav{
  margin: 20px 0px 0px 0px;
  float: right;
}
  
#nav-principal nav:hover .link-blur-1:not(:hover) {
  opacity: 0.8;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
  
#nav-principal li{
  display: inline;
}

#nav-principal li a{
  font-size: 13px;
  margin: 0px 0px 0px 30px;
  letter-spacing: 1px;
}

#nav-principal li a::after{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--white);
  border-radius: 3px;
  left: -12px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#nav-principal li  a:hover::after{
  opacity: 1;
  top: 6px;
}
  
#nav-principal .theme{
  margin: 7px 0px 0px 0px;
  float: right;
  display: flex;
}
    
#nav-principal .theme nav:hover .link-blur-2:not(:hover){
  opacity: 0.8;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
  
#nav-principal .theme nav li{
  display: block;
  margin: 0px 0px 0px 50px;
  text-align: right;
}

#nav-principal .theme .icon svg{
  width: 20px;
  height: 20px;
  margin: 6px 0px 0px 10px;
}


#social{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 7000;
  will-change: transform;

  & nav:hover .link-blur-3:not(:hover) {
    opacity: 0.8;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }

  & a{
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 23px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  & a:hover{
    padding: 0px 0px 0px 4px;
    color: var(--white);
  }
}

/***************************************
- MAIN
/**************************************/

#main{
  position: relative;
  width: 100%;
  height: 90vh;
}

#main .text-reveal{
  position: absolute;
  z-index: 1000;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main .text-reveal span{
  font: 36px var(--font-main-light);
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--white);
  padding: 0px 10px 0px 0px;
  text-align: center;
  width: 100%;
  display: inline-block;
  --scale: scalex(0);
  --transform-origin: center center;
}

#main .text-reveal h1{
  font: 74px var(--font-serif);
  color: var(--white);
  margin: 0px 0px 0px 0px;
  line-height: 90px;
  letter-spacing: 0px;
  display: inline-block;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  --scale: scalex(0);
  --transform-origin: left center;
}

#main .parent{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 950px;
  position: relative;
  text-align: center;
}

#main .parent .aline{
  position: relative;
  display: block;
}

#main .parent span{
  color: var(--white);
  font: 28px var(--font-main-light);
  letter-spacing: 0px;
  line-height: 30px;
}

#main .parent .mask{
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: var(--dark-grey);
}

#main .home-image{
  position: absolute;
  top: 0vh;
  height: 100vh;
  z-index: -100;
  overflow: hidden;
  right: 0px;
}

#main .home-image img{
  height: 100%;
  filter: saturate(10%);
  opacity: 0.15;
}

/***************************************
- HOME-PORTAFOLIO
/**************************************/

#home-portafolio{
  position: relative;
  width: 100%;
  height: 1700px;
  padding: 450px 0px 0px 0px;
}
    
#home-portafolio h1{
  font: 300px var(--font-serif);
  letter-spacing: 10px;
  position: absolute;
  color: var(--white);
  top: 80vh;
  left: 100%;
}

#home-portafolio .image-wrapper{
  position: absolute;
  right: 0px;
  width: 420px;
  height: 520px;
  z-index: 1000;
}

#home-portafolio .image-wrapper .name-picture{
  color: var(--white);
  transform: rotate(270deg);
  bottom: 0px;
  left: -25px;
  position: absolute;
  z-index: 2000;
  transform-origin: top left;
  transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  -moz-transition: bottom 0.3s ease;
  -webkit-transition: bottom 0.3s ease;
}

#home-portafolio .image-wrapper img{
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#home-portafolio .image-wrapper img:hover{
  transform: scale(1.02) skew(0deg,1deg);
  -o-transform: scale(1.02) skew(0deg,1deg);
  -moz-transform: scale(1.02) skew(0deg,1deg);
  -webkit-transform: scale(1.02) skew(0deg,1deg);
}

#home-portafolio .image-wrapper:nth-child(1){
  left: 50px;
  top: 250px;
}

#home-portafolio .image-wrapper:nth-child(3){
  left: 50px;
  top: 860px;
}

#home-portafolio .image-wrapper:nth-child(4){
  top: 680px;
  right: 50px;
}

/***************************************
- More-Work
/**************************************/

#more-work{
  position: relative;
  height: 100vh;
}

#more-work .more-work{
  position: absolute;
  top: 40%;
  width: 100vw;
}


#more-work 
.more-work h2{
  font: 16px var(--font-main-light);
  letter-spacing: 1px;
  color: var(--red);
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

#more-work 
.more-work .menu{
  text-align: center;
  position: relative;
  margin: 20px 0px;
}

#more-work 
.more-work .menu a {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  font: 36px var(--font-serif);
  letter-spacing: 5px;
  text-align: center;
}

#more-work 
.more-work .menu a:hover{
  color: var(--white);
}

#more-work 
.more-work .menu a:hover .image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  filter: saturate(0);
  opacity: 0.4;
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9999;
}

#more-work .more-work .menu .image {
  position: absolute;
  pointer-events: none;
  width: 0px;
  z-index: -9999;
  opacity: 0;
  transition: skew, height, background-position, background-size, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  background-position: center -50px;
  background-size: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#more-work .footer .container{
  position: relative;
}

#more-work .footer{
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  text-align: right;
  color: var(--white);
  padding: 0px 0px 10px 0px;
}

#more-work .footer p{
  color: var(--grey);
}

#more-work .footer a{
  color: var(--grey);
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}
#more-work .footer a::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

#more-work .footer a:hover {
  color: var(--white);
}

#more-work .footer a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/***************************************
- Page-Portafolio
/**************************************/

#portafolio-page{
  height: 100vh;
}

#portafolio-page .content-horizontal{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding: 0px 0px 0px 30vh;
  overflow: visible !important;
}

#portafolio-page .item{
  flex: 0 0 auto; 
  position: relative;
}

#portafolio-page .start{
  color: var(--white);
  font: 14px var(--font-main);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
}

#portafolio-page .end{
  color: var(--white);
  font: 14px var(--font-main);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  display: flex;
  position: relative;
  transition: 0.5s;
}

#portafolio-page .end::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

#portafolio-page .end:hover {
  color: var(--white);
}

#portafolio-page .end:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#portafolio-page .item p{
  opacity: 0;
  position: absolute;
  z-index: 1000;
  font: 12px var(--font-serif-italic);
  color: var(--white);
  letter-spacing: 1px;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

#portafolio-page .item:hover p{
  opacity: 1;
  bottom: -50px;
}

#portafolio-page .item img{
  width: 450px;
  height: auto;
  margin: 0px 100px;
  transition: all 0.3s ease;
}

#portafolio-page img:hover{
  transform: scale(1.05);
}

/***************************************
- Contacto
/**************************************/

#contacto{
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-grey);
}

#contacto .container{
  position: relative;
}

#contacto .text{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

#contacto .text h1{
  font: 36px var(--font-serif);
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--white);
  line-height: 30px;
}

#contacto .text p{
  opacity: 0;
}

#contacto .text a{
  font: 54px var(--font-main-bold);
  color: var(--white);
  margin: 0px 0px 0px 0px;
  line-height: 70px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

#contacto .info{
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
}

#contacto .info li{
  margin: 0px 0px 5px 0px;
}

#contacto .info li svg{
  fill: var(--white);
  height: 15px;
  margin: 0px 10px 0px 0px;
  top: 2px;
  left: -7px;
  position: relative;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#contacto .info a:hover svg{
  opacity: 1;
  left: 2px;
}

#contacto .info a:hover{
  color: var(--white);
}

#contacto .info li a{
  font-size: 16px;
}

.sliding-u-l-r-l {
  display: inline-block;
  position: relative;
  padding-bottom: 14px;
}
.sliding-u-l-r-l:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 10px;
  height: 2px;
  width: 0;
  background: var(--white);
  transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
  width: 100%;
  background: var(--white);
  transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

/***************************************
- Mobile
/**************************************/

  
@media screen and (max-width:768px){

    .top .section-tryon .content__item__btn a{
      font-size:1.2rem;padding-left:32px
    }
    .top .section-tryon .content__item__btn a:hover span{
      transform:none
    }
    .top .section-tryon .content__item__btn a:before{
      width:25px;height:25px;border:solid 6px #BB2649
    }
    .top .section-tryon .content__item__btn a span:after{
      display:none
    }
  }
 

/***************************************
- Medias Queries 
/**************************************/


@media (max-width: 575.98px) {
  .panel{
    display: none;
  }

  .container{
    width: 100%;
  }

  .for-mobile {
    display: block !important;
  }

  /* NAVS MENU PRINCIPAL */

  #nav-principal .logo {
    margin-left: 20px;
  }

  #nav-principal .menu {
    display: none;
  }

  #social { 
    bottom: 15px;
  }
  
  /* Main */

  #main .text-reveal span{
    font-size: 1.5em;
  }

  #main .text-reveal h1{
    font-size: 3em;
    line-height: 60px;
  }

  #main .parent{
    display: none;
  }

  #main .parent span{
    font-size: 1.8em;
  }

  /* Home Portafolio */

  #home-portafolio{
    display: none;
    width: 100%;
    height: auto;
  }

  #home-portafolio .container{
    width: 100%;
  }
      
  #home-portafolio h1{
    font-size: 15em;
    top: 30vh;
    z-index: -10;
  }
  
  #home-portafolio .image-wrapper .name-picture{
    display: none;
  }
  
  #home-portafolio img{
    margin: 0px auto 30px auto;
    display: block;
    width: 80%;
  }

  #more-work{
    position: relative;
    height: 100vh;
  }

  #more-work .more-work h2{
    font-size: 1.2em;
  }

  #more-work .more-work .menu a {
    font-size: 2.5em;
    line-height: 20px;
  }
  
  #more-work .more-work .menu a:hover .image {
    display: none;
  }
  
  #more-work .footer .container{
    position: relative;
  }
  
  #more-work .footer{
    width: 100%;
    text-align: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }


#album-page{
  padding: 70px 0px 0px 0px;
}

#album-page img{
  display: block;
  max-width: 100%;
  height: auto;
  padding: 5px;
  /* filter: saturate(0%); */
  /* transition: filter 0.2s ease-in; */
  transition: all 0.3s ease;
}

#album-page img:hover{
  opacity: 0.5;
}

.simple-lightbox{
  z-index: 8000;
  color: var(--white);
}


.simple-lightbox{
  z-index: 8001;
  color: var(--white);
}

.sl-overlay{
  background-color: var(--dark-grey);
  z-index: 8000;
  opacity: 0.95 !important;
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button{
  color: var(--white);
}

.sl-wrapper .sl-navigation button{
  cursor: none;
}
